header{
  display: flex;
  flex-direction: column;
  padding-top: 16vw;

}

 h1 {
  padding-left: 3vw;
  font-size: 2.5vw;
}

.card {
  display: flex;
  box-sizing: border-box;
  padding: 3vw;
  overflow: hidden;
}

.card:nth-child(1){
  background-color: #1E1937;
  color: #fff;
}
.card:nth-child(2){
  background-color: #F0B190;
  color: #000;
}
.card:nth-child(3){
  background-color: #FEF48B;
  color: #000;
}
.card:nth-child(4){
  background-color: #EF4B4A;
  color: #fff;
}
.card:nth-child(5){
  background-color: #7ae970;
  color: #000;
}

.card  h2 {
  font-size: 5vw;
  margin: 0;
}

.imagen {
  width: 40%;
  border-radius: 1.5vw;
}
.contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  gap: 10vw;
}

.info p:nth-child(1){
  width: 20vw;
  font-size: 1.5vw;
}
.info p:nth-child(2){
  width: 10vw;
  font-size: 1vw;
  margin-top: 1.6vw;
}

/* 🔸 Animación predeterminada */
.animacion-entrada {
  opacity: 0;
  transform: translateY(100px);
  transition: transform 0.8s ease-out, opacity 0.8s ease-out;
}

.animacion-activa {
  opacity: 1;
  transform: translateY(0);
}

/* 🔸 Animación personalizada - Girar */
.animacion-girar-inicial {
  opacity: 0;
  transform: translateX(30vw);
}

.animacion-girar {
  opacity: 1;
  transform: translateX(0);
  transition: transform 1s ease-out, opacity 1s ease-out;
}

/* 🔸 Animación personalizada - Escalar */
.animacion-escalar-inicial {
  opacity: 0;
  transform: scale(0);
}

.animacion-escalar {
  opacity: 1;
  transform: scale(1);
  transition: transform 1s ease-out, opacity 1s ease-out;
}



@media (width < 900px){

  .card {
    display: flex;
    flex-direction: column;
  }

  .info {
    flex-direction: column;
    gap: 1vw;
  }
  .info p:nth-child(1){
    width: 100%;
    font-size: 5.0vw;
  }
  .info p:nth-child(2){
    width: 100%;
    font-size: 3.8vw;
  }

  .card  h2 {
    font-size: 10vw;
    margin: 0;
  }
  .imagen {
    width: 100%;
  }
}