header{
  display: flex;
  flex-direction: column;
  padding-top: 16vw;

}

 h1 {
  padding-left: 3vw;
}

.card {
  display: flex;
  box-sizing: border-box;
  padding: 3vw;
}

.card:nth-child(1){
  background-color: #1E1937;
  color: #fff;
}
.card:nth-child(2){
  background-color: #F0B190;
  color: #000;
}
.card:nth-child(3){
  background-color: #FEF48B;
  color: #000;
}
.card:nth-child(4){
  background-color: #EF4B4A;
  color: #fff;
}

.card  h2 {
  font-size: 5vw;
  margin: 0;
}

.imagen {
  width: 40%;
  border-radius: 1.5vw;
}
.contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.info {
  display: flex;
  gap: 10vw;
}

.info p:nth-child(1){
  width: 20vw;
  font-size: 1.0vw;
}
.info p:nth-child(2){
  width: 10vw;
  font-size: 0.8vw;
}
