header {
  padding: 10vw 1vw;
}
.contenedor{
  position: relative;
  display: flex;
  flex-direction: column;
}

.caja{
  width: 100%;
  height: 10vw;
}

.caja h1 {
  font-size: 5vw;
  margin: 0;
  color: gray;
}
.caja p {
  font-size: 1.5vw;
  margin: 0;
}

.videos {
  position: fixed;
  width: 20vw;
  height: 30vw;
  object-fit: cover;
  box-sizing: border-box;
  padding: 2vw;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: 10s;
}

.videos video {
  width: 100%;
  border-radius: 3vw;
  height: 100%;
  position: relative;
  object-fit: cover;
}

.caja {
  color: gray;
}
.caja.active h1 {
  color: #000;
  transition: 1s;
}
.caja.active p {
  color: #000;
}

.videos.active {
  display: block;
  transform: translateX(0) scale(1);
  transition: 10s;
}


@media (width < 900px) {
  
.caja{
  width: 100%;
  height: 45vw;
}

header {
  padding-bottom: 40vw;
}

.caja h1 {
  font-size: 10vw;
  margin: 0;
  color: gray;
}
.caja p {
  font-size: 8.5vw;
  margin: 0;
}


.videos {
  position: fixed;
  width: 70vw;
  height: 90vw;
  object-fit: cover;
  object-position: bottom;
  box-sizing: border-box;
  padding: 5vw;
  right: 0;
  left: 0;
  margin: auto;
  margin-bottom: 0;
  margin-right: 0;
  transition: 10s;
}

.videos video {
  width: 100%;
  border-radius: 3vw;
  height: 100%;
  position: relative;
  object-fit: cover;
}


}