header {
  margin-bottom: 200px;
}
.contenedor{
  position: relative;
  display: flex;
  flex-direction: column;
}

.caja{
  width: 100%;
  height: 10vw;
  box-sizing: border-box;
  padding: 0 2.0vw;
}

.caja h1 {
  font-size: 5vw;
  margin: 0;
  color: gray;
}
.caja p {
  font-size: 1.5vw;
  margin: 0;
}

.videos {
  position: fixed;
  width: 20vw;
  height: 30vw;
  object-fit: cover;
  box-sizing: border-box;
  padding: 2vw;
  top: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  transition: 10s;
}

.videos video {
  width: 100%;
  border-radius: 3vw;
  height: 100%;
  position: relative;
  object-fit: cover;
}

.caja {
  color: gray;
}
.caja.active h1 {
  color: #000;
  transition: 1s;
}
.caja.active p {
  color: #000;
}

.videos.active {
  display: block;
  transform: translateX(0) scale(1);
  transition: 10s;
}
.v-phone {
  display: none;
}




@media (width < 900px) {
.contenedor {
  padding: 10vw 0;
}
.v-phone {
  display: block;
  width: 50%;
  margin-top: 5vw;
  margin-bottom: 6vw;
  height: auto;
  border-radius: 5vw;
}
.videos {
  display: none;
  visibility: hidden;
}
.videos video {
  display: none;
}
.caja{
  width: 100%;
  height: auto;
}

header {
  margin-bottom: 0;
}

.caja h1 {
  font-size: 10vw;
  margin: 0;
  color: gray;
}
.caja p {
  font-size: 7.0vw;
  margin: 0;
}
.caja p strong {
  font-weight: 100;
};

}