header{
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: space-around;
  padding: 6vw 3vw;
}

main{
  width: 30%;
}

video {
  width: 70%;
  cursor: pointer;
  border-radius: 1.5vw;
}

main > p:nth-child(1) {
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1vw solid #000;
  padding-bottom: 1.5vw;
  width: 20vw;
}

main p:nth-child(3){
  width: 20vw;
}

main h2 {
  font-size: 5vw;
  margin: 0;
}

.buttons {
  display: flex;
  gap: 3vw;
}

.buttons button {
  width: 3vw;
  height: 3vw;
  border-radius: 50vw;
  border: 0;
  border: 0.1vw solid #000;
}

.buttons button img {
  width: 50%;
}
.left {
  transform: rotate(180deg);
}

.video {
  width: 50vw;
  display: flex;
  transform: translateY(-25vw) translateX(-58vw) scale(0.3);
}

swiper-slide p {
  width: 50%;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}


@media(width < 900px){
  header {
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
  }

  main{
    width: 95%;
  }
  
  main > p:nth-child(1) {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.1vw solid #000;
    padding-bottom: 1.5vw;
    width: 100%;
  }
  main p:nth-child(3){
    width: 100%;
  }

  .buttons{
    align-items: center;
    justify-content: center;
  }

  .buttons button {
    width: 15vw;
    height: 15vw;
    border-radius: 50vw;
    border: 0;
    border: 0.1vw solid #000;
  }

  video {
    width: 100%;
    padding: 5vw 0;
  }



}