nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  z-index: 100;
  padding: 0.5vh;
  font-size: 2.6vh;
  font-weight: bold;
  top: 0;
}
a {
  text-decoration: none;
  color: #fff;
  font-size: 1.3vw;
}

nav a:nth-child(2){
  color: #000;
}

nav .vamos {
  display: flex;
  background-color: #D94443;
  position: relative;
  padding: 0.8vw;
  border-radius: 3vw;
}

.cerebrito {
  width: 3vw;
  height: 3vw;
  position: absolute;
  z-index: -1;
  background-color: #D94443;
  border-radius: 3vw;
  top: 0;
  right: 0;
}

.cerebrito img {
  width: 100%;
  box-sizing: border-box;
  padding: 0.5vw;
}


.sitemap {
  display: flex;

}

.sitemap .menu {
  background-color: #D94443;
  padding: 0vw 2vw;
  display: flex;
  align-items: center;
  border-radius: 3vw;
}

.sitemap img {
  background-color: #D94443;
  box-sizing: border-box;
  padding: 1vw;
  width: 3vw;
  height: 3vw;
  border-radius: 3vw;
}

.sites {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  display: none;
}


/* Animación con tres estados */
@keyframes moverYGirar {
  0% {
    transform: translateX(0) rotate(0deg);
  }
  50% {
    transform: translateX(5vw) rotate(180deg);
  }
  100% {
    transform: translateX(3.0vw) rotate(-4deg);
  }

}

/* Animación inversa (regresando) */
@keyframes moverYGirarReverse {
  0% {
    transform: translateX(3vw) rotate(-4deg);
  }
  100% {
    transform: translateX(0) rotate(-180deg);
  }
}

@media ( width < 900px ) {

  .cerebrito {
    display: none;
  }

  a {
    font-size: 3vw;
  }

  .sitemap {
    height: 7vw;
  }
  .menu {
    justify-content: center;
    align-items: center;

  }

  .sitemap img {
    display: none;
  }

}
