footer{
  display: flex;
  gap: 2vw;
  box-sizing: border-box;
  padding: 1vw;
}
footer .sitemap {
  margin-right: 0;
}
.sitemap, .redes {
  display: flex;
  margin: 0;
  gap: 3vw;
}

.sitemap p, .redes p {
  margin: 0;
  margin-top: 0.5vw;
}
.sitemap a, .redes a {
  text-decoration: none;
  color: #000;
  font-size: 3vw;
}

.info {
  display: flex;
  gap: 1vw;
}

.info a {
  font-size: 1.8vw;
  padding: 0.5vw 0vw;
  width: 4vw;
}

.info a img {
  width: 100%;
  height: auto;
}

.servicios {
  font-size: 5vw;
  display: flex;
  flex-direction: column;
}

.contacto{
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin-left: auto;
  gap: 3vw;
}

.contacto .info p{
  margin: 0;
}

.contacto .info {
  display: flex;
  flex-direction: column;
  gap: 1vw;
}

.contacto .info p:nth-child(1){
  display: flex;
  width: fit-content;
  margin-left: auto;
}
.contacto .info p:nth-child(2){
  font-size: 2vw;
}

.sitemap p:nth-child(1), .redes p:nth-child(2){
  font-size: 1vw;
}

@media (width < 900px) {

  footer {
    flex-direction: column;
    align-items: center;
    gap: 5vw;
  }

  .sitemap {
    flex-direction: column;
    align-items: center;
  }

  .sitemap a {
    text-align: center;
    font-size: 6vw;
  }

  .redes {
    flex-direction: column;
    align-items: center;
  }

  .redes {
    flex-direction: column;
  }

  .info {
    align-items: center;
    justify-content: center;
  }

  .contacto {
    margin: 0;
  }

  footer .sitemap p,footer .redes p,footer .contacto .info {
    font-size: 4vw;
    margin: 0;
    align-content: center;
    justify-content: center;
  }
  footer .contacto .info p {
    margin: 0;
  }

  .redes .info a {
    width: 14vw;
    height: 14vw;
  }
  .contacto .info p:nth-child(2) {
    font-size: 5vw;
  }

}