footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 2vw;
  margin: 0 2vw;
}
.primer-panel {
  display: flex;
  gap: 5vw;
  width: 40%;
  justify-content: space-between;
}
p {
  margin: 0;
}
.sitemap {
  display: flex;
  gap: 2vw;
}
.sitemap .servicios{
  display: flex;
  flex-direction: column;
}
.sitemap .servicios a{
  display: flex;
  text-wrap: nowrap;
}
.redes {
  display: flex;
  gap: 2vw;
}

.redes .info {
  display: flex;
  flex-direction: column;
}

.contacto {
  display: flex;
}

img { 
  width: 5vw;
  height: 5vw;
}
.redes .info {
  
}
.redes .info a {
  width: 20vw;
  height: 5vw;
  display: flex;
  align-items: center;
  font-size: 1.5vw;
  object-fit: cover;
  gap: 0.5vw;
  text-decoration: none;
  color: #000;
}


.servicios a {
  text-decoration: none;
  color: #000;
}
.titulo {
  font-size: 1vw;
  font-weight: 700;
  margin-top: 0.5vw;
}

.servicios, .info {
  font-size: 2.5vw;
  font-weight: 300;
}

.youtube img {
  width: 4.1vw;
  padding: 0.4vw;
}

.tiktok img {
  border-radius: 1.0vw;
  box-sizing: border-box;
  padding: 0.35vw;
}

.instagram img {
  width: 4vw;
  padding: 0.5vw;
}
a {
  clip-path: none !important;
}

.banner {
  display: flex;
  align-items: center;
  margin-top: 2vw;
  justify-content: center;
}
.banner h1 {
  display: flex;
  font-size: 7.5vw;
  align-items: center;
  margin: 0;
  padding: 1vw 0;
}

.banner h1 img {
  width: 13vw;
  height: 13vw;
}

@media (width < 900px) {
  footer {
    flex-direction: column;
    gap: 10vw;
  }
  .primer-panel {
    flex-direction: column;
  }
  .titulo {
    font-size: 4vw;
  }
  .servicios{
    font-size: 6vw;
  }
  .info{
    font-size: 6vw;
  }
  .redes .info a {
    font-size: 5vw;
  }
  .redes .info {
    gap: 5vw;
  }
}